* {
    font-family: '微軟正黑體';
    text-align: center;
    box-sizing: border-box;
}

.container {
    width: 300px;
    margin: auto;
    margin-top: 100px;
}

.container h1 {
    color: #BF2F48;
}

.content {
    height: 450px;
    background-color: #FFEFBA;
    border-radius: 10px;
    box-shadow: 2px 2px 1px #888888;
    line-height: 70px;
}

.content h3 {
    font-weight: normal;
    padding-top: 20px;
}

.type {
    border: 1px solid #BBBBBB;
    background-color: #FFFFFF;
    border-radius: 3px;
    height: 35px;
    width: 100px;
    font-size: 15px;
}

.clk {
    background-color: #187783;
    color: white;
    border: 1px solid #BBBBBB;
    border-radius: 3px;
    height: 35px;
    width: 100px;
    font-size: 16px;
}